:root {
    --ratio: 1.61803398875;
    --h-size-1: min(50vw, 240px);
    --h-size-2: calc(var(--h-size-1) / var(--ratio));
    --h-size-3: calc(var(--h-size-2) / var(--ratio));
    --h-size-4: calc(var(--h-size-3) / var(--ratio));
    --h-size-5: calc(var(--h-size-4) / var(--ratio));
    --h-size-6: calc(var(--h-size-5) / var(--ratio));
}

::-webkit-scrollbar {
    display: none;
}

*,
:after,
:before {
    box-sizing: border-box;
}

body {
    font-family: Open Sans, Montserrat, Helvetica Neue, Arial, sans-serif;
    color: rgba(81, 89, 106, 1);

    background: url('../assets/noise.png'), #FFFFFF;

    padding: 20px;
}

a {
    color: #232323;
}

button {
    color: rgba(81, 89, 106, 1);
    background-color: #ffffff;

    -moz-box-shadow: 0px 2px 10px 0px #d9d9d9;
    -webkit-box-shadow: 0px 2px 10px 0px #d9d9d9;
    box-shadow: 0px 2px 10px 0px #d9d9d9;

    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    border: none;

    display: inline-block;

    cursor: pointer;

    text-align: center;
    font-size: 17px;
    font-weight: bold;

    margin: auto;
    padding: 15px 20px;
}

button:hover {
    background-color: #ededed;
}

button:active {
    position: relative;
    top: 1px;
}

.textbox {
    font-size: 16px;
    color: #51596a;

    border: 2px solid #51596a;
    border-radius: 8px;

    height: var(--h-size-5);
    padding: 3px;
    margin-left: 8px;
}