.card-item {
    height: var(--h-size-1);
    width: calc(var(--h-size-1) * var(--ratio));

    overflow: hidden;

    border-radius: 22px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    cursor: pointer;
}

.card-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.card-snippet {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.card-icon {
    height: var(--h-size-3);
    width: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
}

.card-icon img,
.card-icon svg {
    margin-top: 2.5%;
}

.card-persona {
    padding-left: var(--h-size-5);
    height: calc(var(--h-size-1) - (var(--h-size-3) * 2));
}

.card-lower-third {
    display: flex;
    justify-content: space-between;
}

.card-type {
    padding-left: var(--h-size-5);
}

.card-avatar {
    justify-content: flex-end;
}

.card-avatar img {
    object-fit: cover;
    object-position: 0 -4%;
    height: var(--h-size-3);
    width: calc(var(--h-size-3) * var(--ratio));
}