.icon-loading-placeholder {
    animation-name: placeHolderShimmer;
    animation-duration: 3.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background: darkgray;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 200px 50px;

    width: 73px;
    height: 73px;
    border-radius: 50%;
    margin-top: 2.5%;

    position: relative;
}

.loading-bar-placeholder {
    animation-name: placeHolderShimmer;
    animation-duration: 3.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    background: darkgray;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    background-size: 200px 50px;

    border-radius: 8px;
    margin-bottom: 8px;

    position: relative;
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}