.top {
  display: flex;
  align-items: center;

  margin-bottom: var(--h-size-6);
}

@media (max-width: 600px) {

  .header {
    font-size: calc(var(--h-size-1) / 5.32) !important;
  }

  .icon-loading-placeholder {
    width: calc(var(--h-size-3)*1.25) !important;
    height: calc(var(--h-size-3)*1.25) !important;
  }

  .loading-bar-placeholder {
    height: 35px !important;
    width: 165px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .large-placeholder {
    width: 270px !important;
  }

  .card-type {
    display: none !important;
  }

  .personas {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-persona {
    display: flex;

    height: inherit !important;
    padding-left: 0px !important;

    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  .card-icon img,
  svg {
    width: calc(var(--h-size-3)*1.25) !important;
    height: calc(var(--h-size-3)*1.25) !important;
  }

  .card-lower-third {
    display: none !important;
  }

  .card-title {
    font-size: calc(var(--h-size-1) /6.65) !important;
  }

  .card-snippet {
    font-size: calc(var(--h-size-1) / 8.85) !important;
  }
}

@media (min-width: 850px) {
  .personas {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1250px) {
  .personas {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1750px) {
  .personas {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 2200px) {
  .personas {
    grid-template-columns: repeat(5, 1fr);
  }
}